* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1A1E26;
    color: #FFF;
}

/* typography */
h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-size: 120px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 25px;
}
p, li {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    line-height: 34px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 120px 0;
}
.astro-img {width: 100%}


.three-columns {
    background-color: #3669C9;
}
.flex {
    display: flex;
    margin-right: 10px;
}